:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --black-color: #000000;
  --primary-white-color: #ffffff;
  --second-background-color: #f5f4fa;
  --dark-background-color: #2f303a;
  --second-white-color: rgba(255, 255, 255, 0.6);
  --button-hover-color: #188ce8;
  --hero-background-color: #c4c4c4;
}
